<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewNotes"
        tools:targetApi="32">

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AppActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alex.newnotes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

    </application>

</manifest>